@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.logo {
  color: #0A2558;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 50px;
}


.about {
  font-size: 50px;
  color: #0A2558;
  margin-left: 700px;
}
