#alert_message_container {
  z-index: 200;
  position: absolute;
  border:5px #46a9a9 solid;
  background-color: white;
  height: 200px;
  width: 420px;
  margin-top: 350px;
  margin-left: 780px;
  color: black;
  border-radius: 10px;
  padding-left: 25px;
  padding-top: 30px;
  font-weight: bold;
  font-size: 17px;
  display: none;
}
#alert_message_container button{
  margin-left: 130px;
  background-color: #46a9a9;
  border-radius: 7px;
  padding:9px 25px;
  color: #e7f5f5;
}
#alert_message_container button:hover{
  background-color: #63bfbf;
}
#error_message_div {
  color: #e74d2c;
  margin-left: 37px;
}
.redirect_to_signin_div {
  color: #1a4141;
  margin-left: -30px;
  font-size: 16px;
  font-weight: normal;
}
.link_to_signin_page {
  color: #63bfbf;
}
.link_to_signin_page:hover {
  color: #388787;
  text-decoration: none;
}
button {
  background-color: white;
  padding: 10px;

  font-weight: normal;
  border-radius: 20px;
  border: none;
  color: #46a9a9;
}

.toggle_buttons_container {
  margin-left: -110px;
}
.admin_toggle_button {
  font-size: 22px;

  background-color: white;
  padding: 10px;

  font-weight: normal;
  border-radius: 20px;
  border: none;
  color: #46a9a9;
}
.admin_toggle_button:hover {
  color: #63bfbf;

  border: none;
  cursor: pointer;
}
button:hover {
  color: #63bfbf;

  border: none;
  cursor: pointer;
}
.student_toggle_button {
  text-decoration: underline;
  font-size: 27px;
  color: #388787;
  border: none;
}
.form_container input[type="text"]::placeholder,
.form_container input[type="email"]::placeholder,
.form_container input[type="password"]::placeholder,
.form_container input[type="date"]::placeholder {
  color: #153232;
  font-weight: normal;
}
#submitButton {
  border-radius: 10px;
  color: white;
  background-color: #46a9a9;
  padding: 0px;
  border: 2px #46a9a9 solid;
  width: 170px;
  height: 45px;
  font-weight: normal;
  letter-spacing: 0.5px;
  margin-left: 190px;
  margin-right: -6px;
}
#submitButton:hover {
  cursor: pointer;
  background-color: #63bfbf;

  border: 2px #63bfbf solid;
}
#clearButton {
  border-radius: 10px;
  border: 2px solid;
  margin-left: 197px;
  margin-right: 10px;
  padding: 0px;
  width: 120px;
  height: 45px;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: #ec745a;
}
#clearButton:hover {
  cursor: pointer;
  background-color: #ec745a;
  border-color: #ec745a;
  color: white;
}
.form_container input[type="text"],
.form_container input[type="email"],
.form_container input[type="password"],
.form_container input[type="date"] {
  height: 52px;
  border: none;
  background-color: #ebf7f7;
  display: block;
  margin: 10px 0px 30px 205px;
  padding: 14px 19px;
  width: 500px;
  outline: none;
  color: #153232;
  font-weight: bold;
  border-radius: 12px;
  font-size: 16px;
  transition: 0.25s;
}
h1 {
  font-size: 30px;
  margin-left: 470px;
  color: #296565;
  font-weight: bold;
  text-transform: uppercase;
}
.form_container input[type="text"]:focus,
.form_container input[type="email"]:focus,
.form_container input[type="password"]:focus,
.form_container input[type="date"]:focus {
  background-color: #e7f5f5;
  color: #153232;
}

.main_container {
  width: 1600px;
  height: 740px;
  padding: 40px 40px 40px 0px;
  position: absolute;
  margin-right: 500px;
  top: 50%;
  left: 50%;
  text-align: center;
  transition: 0.25s;
  background-color: #fff;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.sub_container {
  background-color: transparent;
  width: 100%;
  height: 70%;
  position: relative;
}

.group_photo_container {
  width: 90%;
  height: 110%;
  position: absolute;
  margin-top: -25px;
  margin-left: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.group_photo_container img {
  border-radius: 9px;
}

.form_and_heading_container {
  width: 50%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  margin-top: 17px;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
